.App {
  /* text-align: center; */
  font-family: 'Nunito', sans-serif;
}

a{

  text-decoration: none;

}


input {
  
    outline: none;

}

.horizantal-nav{

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.Add-User {

  
  margin-right: 30px;
  /* margin-top: 12px; */
  border: 1px solid white;
  height: min-content;
  padding: 0 10px;

}

.Add-User h1{

    font-size: 20px;
    /* margin-right: 30px; */
    margin-top: 12px;

}

.bi-gear-fill {

  font-size: 20px;
  color: rgb(162, 167, 163);

}

.logo img, .user img{

    margin:5px 15px ;
    width: 50px; 
    height: 45px;

}



.user-icon-box
{
    margin-right:20px ;
    color: white;
}

.user-btn{

    background:none;
    outline: none;
    text-decoration: none;
    border: none;
    
}

.user img{

    border-radius: 50%;

}





.section-container{


  background-color: rgb(238, 238, 238);
  height: max-content;

}

.section-container input{


  border: 1px solid gray;
  border-radius: 5px;
  /* max-width: 100px; */

}



.head-container{

  margin: 20px 0;

}

.Content-heading h3{

  margin-left: 20px;
  font-size: 34px;
  letter-spacing: 1px;
  color: rgb(103, 181, 1);

}

.search-box{

  margin-left: 20px;


}

.search-box input{

    outline: none;
    border: none;
    padding: 3px;

}

.bi-search{

  margin-left: 10px;

}

.add-user{

  margin-right: 40px;

}






